header{
    background-color: #1d182d;
    padding-top: 10px;

    .container{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            align-content: center;

        .header_logo{
            width: 10%;
            min-width: 160px;
            transform: scale(1.3);
            margin-top: 30px;
            cursor: pointer;
        }
            
        .header_itens{
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            padding: 0 0 0 40px;

            .item{
                max-width: 140px;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                padding: 10px;

                img{
                    width: 40px;
                }
                .item_p_text{
                    text-transform: uppercase;
                    font-weight: bold;
                    color: #fff;
                    font-size: 12px;

                    span{
                        color: #72bf44;
                    }
                }
            }

            .item:hover{
                background: #3f3994;
                cursor: pointer;
                border-radius: 5px;
            }

            form{
                input{
                    width: 420px;
                    height: 40px;
                    border-radius: 5px;
                    padding: 0 10px;
                    font-size: 16px;
                }
            }
        }
    }
}
.header_menu{
    height: 40px;
    width: 100%;
    background-color: #252158;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
    padding: 25px 0;

    ul{
        width: 90%;
        display: flex;
        justify-content: space-evenly;

        li{
            text-transform: uppercase;
            font-weight: bold;
            color: #72bf44;
            list-style: none;
            font-size: 1em;
            line-height: 1.2em;
            padding: 8px;
        }
        li:hover{
            background: #3f3994;
            cursor: pointer;
            border-radius: 5px;
        }
    }
}