.slider{
    height: auto;
    width: 100%;

    .slider_div_item{
        position: relative;
        width: 100%;
        cursor: pointer;
    }

    .slider_span_banner{
        width: 100%;
    }
}
